<div class="card">
    <div class="card-header text-center">
        <img src="/assets/images/power-games-admin-logo.png" alt="" class="img-fluid">
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-text-input [form]="form" name="email" [messages]="messages" displayName="Email" type="text"></app-text-input>
            <br>
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="inProgress">Reset password</button>
        </form>
    </div>
    <div class="card-footer bg-white p-0">
        <div class="card-footer-item card-footer-item-bordered text-center">
            <a routerLink="/login" class="footer-link">Back to login</a>
        </div>
    </div>
</div>
