<div class="dashboard-main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>

