<div class="form-group">
    <label for="{{name}}" class="font-14">{{displayName}}</label>
    <textarea class="form-control font-14" id="{{name}}" cols="30" [rows]="rows" [formControl]="form.get(name)" [placeholder]="displayName" [ngClass]="formUtils.handleValidationStateClass(form, name)">
    </textarea>
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }} </span>
</div>
