<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">{{ id ? 'Edit product' : 'Add product'}}</h2>
        </div>
    </div>
</div>

<a routerLink="/products"><i class="fa fa-arrow-left"></i> Back to products</a>
<br>
<br>
<form class="m-t-20" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <app-text-input [form]="form" name="title" [messages]="messages" displayName="Title" type="text"></app-text-input>
                    <app-text-input [form]="form" name="manufacturer" [messages]="messages" displayName="Manufacturer" type="text"></app-text-input>
                    <button class="btn btn-primary" type="button" (click)="onSelectCategoryModalOpen(selectCategoryModal)">Select category</button>
                    <span class="m-l-10 font-16" *ngIf="category">
                        <span>{{ category.title }}</span> &nbsp;<span class="text-danger pointer" (click)="onSelectedCategory(null)">&times;</span>
                    </span>
                    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'category', messages) }} </span>
                    <app-textarea-input [form]="form" name="intro" [messages]="messages" displayName="Intro" [rows]="5"></app-textarea-input>
                    <app-text-input [form]="form" name="availability" [messages]="messages" displayName="Availability" type="number"></app-text-input>
                    <app-file-input
                        [form]="form"
                        name="image"
                        [messages]="messages"
                        displayName="Image"
                        [link]="product?.image"
                        [image]="true"
                        [validMimeTypes]="validMimeTypes"
                        [maxFileSizeMB]="maxFileSizeMB"
                        (fileChosen)="onFileChosen($event)"
                    ></app-file-input>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <app-text-input [form]="form" name="price" [messages]="messages" displayName="Price" type="number"></app-text-input>
                    <app-select-input
                        [form]="form"
                        name="age_category"
                        [messages]="messages"
                        displayName="Age category"
                        [data]="ageCategories"
                    ></app-select-input>
                    <app-select-input
                        [form]="form"
                        name="languages"
                        [messages]="messages"
                        [multiple]="true"
                        displayName="Languages"
                        [data]="languages"
                    ></app-select-input>
                    <app-select-input
                        [form]="form"
                        name="game_modes"
                        [multiple]="true"
                        [messages]="messages"
                        displayName="Game modes"
                        [data]="gameModes"
                    ></app-select-input>
                    <app-select-input
                        [form]="form"
                        name="release_type"
                        [messages]="messages"
                        displayName="Release type"
                        [data]="releaseTypes"
                    ></app-select-input>
                    <app-datepicker-input
                        [form]="form"
                        name="premiere"
                        [messages]="messages"
                        displayName="Premiere"
                    ></app-datepicker-input>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <editor
                        formControlName="description"
                        [init]="{
                             height: 500,
                             base_url: '/tinymce',
                             suffix: '.min',
                             menubar: false,
                             statusbar: false,
                             images_upload_handler: onUpload.bind(this),
                             plugins: [
                               'advlist autolink lists link image charmap print preview anchor',
                               'searchreplace visualblocks code fullscreen',
                               'insertdatetime media table paste code help wordcount image'
                             ],
                             toolbar:
                               'undo redo | formatselect | bold italic backcolor image | alignleft aligncenter alignright alignjustify | bullist numlist'
                            }"
                    ></editor>
                    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'description', messages) }} </span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="text-right">
                <button type="submit" class="btn btn-primary" [disabled]="inProgress"><i class="fa fa-paper-plane"></i> Submit</button>
            </div>
        </div>
    </div>
</form>

<ng-template #selectCategoryModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select category</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-categories-modal (selectedCategory)="onSelectedCategory($event); modal.dismiss('Selected')"></app-categories-modal>
    </div>
    <div class="modal-footer">
        <br>
    </div>
</ng-template>
