<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Admin Profile</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-5 col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 >{{ user?.first_name }} {{ user?.last_name }}</h4>
                        <span class="text-muted">{{ user?.email }}</span>
                        <br>
                        <br>
                    </div>
                    <div class="col-6">
                        <a routerLink="/admin/edit" class="btn btn-primary d-block"><i class="fa fa-user"></i> Edit profile</a><br>
                        <a routerLink="/admin/change-email" class="btn btn-primary d-block"><i class="fa fa-envelope"></i> Change email</a><br>
                        <a routerLink="/admin/change-password" class="btn btn-primary d-block"><i class="fa fa-lock"></i> Change password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

