<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Order details</h2>
        </div>
    </div>
</div>

<a routerLink="/orders"><i class="fa fa-arrow-left"></i> Back to orders</a>
<br>
<br>
<div class="row" *ngIf="order && payment">
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <h4>Summary</h4>
                <hr>
                <div class="row">
                    <div class="col">Order date:</div>
                    <div class="col">{{ order.created | date: "yyyy-MM-dd HH:mm:ss" }}</div>
                </div>
                <div class="row">
                    <div class="col">Products count:</div>
                    <div class="col">{{ order.products_count }}</div>
                </div>
                <div class="row">
                    <div class="col">Pieces count:</div>
                    <div class="col">{{ order.pieces_count }}</div>
                </div>
                <div class="row">
                    <div class="col font-16"><b>Total:</b></div>
                    <div class="col font-16"><b>{{ order.total }} PLN</b></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Payment</h4>
                <hr>
                <div class="row">
                    <div class="col">Payment date:</div>
                    <div class="col">{{ payment.created | date: "yyyy-MM-dd HH:mm:ss" }}</div>
                </div>
                <div class="row">
                    <div class="col">Payment description:</div>
                    <div class="col">{{ payment.description }}</div>
                </div>
                <div class="row">
                    <div class="col">Card:</div>
                    <div class="col">**** **** **** {{ payment.card.last_4 }} ({{ payment.card.brand }} - {{ payment.card.exp_month }}/{{ payment.card.exp_year }})</div>
                </div>
                <div class="row">
                    <div class="col text-success"><b>Paid:</b></div>
                    <div class="col text-success"><b>{{ payment.amount }} PLN</b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <h4>User</h4>
                <hr>
                <div class="row">
                    <div class="col">Email:</div>
                    <div class="col">{{ order.user_details.email }}</div>
                </div>
                <div class="row">
                    <div class="col">Fist name:</div>
                    <div class="col">{{ order.user_details.first_name }}</div>
                </div>
                <div class="row">
                    <div class="col">Last name:</div>
                    <div class="col">{{ order.user_details.last_name }}</div>
                </div>
                <div class="row">
                    <div class="col">Phone number:</div>
                    <div class="col">{{ order.user_details.phone_number }}</div>
                </div>
                <div class="row">
                    <div class="col">Postal code:</div>
                    <div class="col">{{ order.user_details.address.postal_code }}</div>
                </div>
                <div class="row">
                    <div class="col">Address line 1:</div>
                    <div class="col">{{ order.user_details.address.address_line_1 }}</div>
                </div>
                <div class="row">
                    <div class="col">Address line 2:</div>
                    <div class="col">{{ order.user_details.address.address_line_2 }}</div>
                </div>
                <div class="row">
                    <div class="col">City:</div>
                    <div class="col">{{ order.user_details.address.city }}</div>
                </div>
                <div class="row">
                    <div class="col">Country:</div>
                    <div class="col">{{ order.user_details.address.country }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Items</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Premiere</th>
                            <th>Codes</th>
                            <th>Status</th>
                            <th>Rate</th>
                            <th>Review</th>
                            <th>Review state</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.items">
                            <td><img [src]="item.product.image" alt="" class="img-thumbnail item-thumbnail"></td>
                            <td>
                                <a [routerLink]="['/products', item.product.original_id ]">{{ item.product.title }}</a>
                            </td>
                            <td>{{ item.product.price }} PLN</td>
                            <td>{{ item.product.premiere | date: "yyyy-MM-dd" }}</td>
                            <td>{{ item.codes.join(', ')}}</td>
                            <td>{{ item.sent ? 'Codes available' : 'Codes not available' }}</td>
                            <td>{{ item.review?.rate }}</td>
                            <td>{{ item.review?.description }}</td>
                            <td>
                                <button *ngIf="item.review" class="btn btn-primary text-nowrap" type="button" [disabled]="inProgress" (click)="onReviewApprove(item)">
                                    <i class="fa" [ngClass]="{'fa-check': !item.review.approved, 'fa-times': item.review.approved }"></i> {{ item.review?.approved ? 'Disapprove' : 'Approve' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
