<div class="row">
    <div class="col-12">
        <a [routerLink]="['create']" class="btn btn-primary"><i class="fa fa-plus"></i> Add new</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card m-t-20">
            <div class="card-body">
                <h4 class="card-title">Products</h4>
                <form class="form-inline" [formGroup]="form">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary"><i class="fa fa-search"></i></span>
                        </div>
                        <input type='text' class="form-control" formControlName="search" placeholder='Search' >
                    </div>
                    <div class="form-group m-l-10 mb-3">
                        <button class="btn btn-primary" type="button" (click)="onSelectCategoryModalOpen(selectCategoryModal)">Select category</button>
                        <span class="m-l-10 font-16" *ngIf="category">
                            <span>{{ category.title }}</span> &nbsp;<span class="text-danger pointer" (click)="onSelectedCategory(null)">&times;</span>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-datatable
    #table
    class='material'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [externalPaging]="true"
    [rowHeight]="'auto'"
    [count]="total"
    [offset]="(page - 1)"
    [limit]="results"
    [rows]='rows'
    [externalSorting]="true"
    (page)="onPageChange($event)"
    (sort)="onSortChange($event)"
>
    <ngx-datatable-column name="" prop="image" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <img [src]="value" alt="" class="img-thumbnail product-image">
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
    <ngx-datatable-column name="Availability" prop="availability"></ngx-datatable-column>
    <ngx-datatable-column name="Price" prop="price">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }} PLN
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Created date" prop="created">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date: "yyyy-MM-dd HH:mm:ss" }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" prop="_id" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="value" title="Edit" class="text-primary m-r-10"><i class="fa fa-edit"></i> Edit</a>
            <a (click)="onDeleteModalOpen(deleteModal, value)" href="javascript: void(0)" title="Delete"><i class="fa fa-trash"></i> Delete</a>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" >Are you sure you want to delete this product?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <button type="button" class="btn btn-outline-dark m-r-10" (click)="onDelete(modal)" [disabled]="inProgress">Yes</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">No</button>
        <br>
    </div>
</ng-template>

<ng-template #selectCategoryModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select category</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-categories-modal (selectedCategory)="onSelectedCategory($event); modal.dismiss('Selected')"></app-categories-modal>
    </div>
    <div class="modal-footer">
        <br>
    </div>
</ng-template>

