<div class="form-group">
    <label class="control-label font-14">{{displayName}}</label>
    <select *ngIf="multiple"
        class="form-control custom-select font-14"
        [formControl]="form.get(name)"
        [ngClass]="formUtils.handleValidationStateClass(form, name)"
        (change)="onChange($event)" multiple
    >
        <option *ngFor="let item of data" [value]="getValue(item)">{{getName(item)}}</option>
    </select>
    <select *ngIf="!multiple"
        class="form-control custom-select font-14"
        [formControl]="form.get(name)"
        [ngClass]="formUtils.handleValidationStateClass(form, name)"
        (change)="onChange($event)"
    >
        <option *ngFor="let item of data" [value]="getValue(item)">{{getName(item)}}</option>
    </select>
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }} </span>
</div>
