<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">Menu</li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <i class="fa fa-fw fa-user-circle"></i>Dashboard
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/categories" routerLinkActive="active">
                            <i class="fa fa-fw fa-boxes"></i>Categories
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">
                            <i class="fa fa-fw fa-gamepad"></i>Products
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/orders" routerLinkActive="active">
                            <i class="fa fa-fw fa-table"></i>Orders
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
