<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Change password</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <a routerLink="/admin"><i class="fa fa-arrow-left"></i> Back</a>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <form class="m-t-20" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <app-text-input [form]="form" name="old_password" [messages]="messages" displayName="Old password" type="password"></app-text-input>
                    <app-text-input [form]="form" name="new_password" [messages]="messages" displayName="New password" type="password"></app-text-input>
                    <app-text-input [form]="form" name="repeated_password" [messages]="messages" displayName="Repeat password" type="password"></app-text-input>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" [disabled]="inProgress"><i class="fa fa-paper-plane"></i> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
