<div class="form-group">
    <label for="{{name}}" class="font-14">{{displayName}}</label>
    <input [type]="type" class="form-control font-14" [formControl]="form.get(name)"  id="{{name}}" [placeholder]="displayName" [ngClass]="formUtils.handleValidationStateClass(form, name)">
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }} </span>
</div>
