<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">{{ id ? 'Edit category' : 'Add category'}}</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <a routerLink="/categories"><i class="fa fa-arrow-left"></i> Back to categories</a>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <form class="m-t-20" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <app-text-input [form]="form" name="title" [messages]="messages" displayName="Title" type="text"></app-text-input>
                    <button class="btn btn-primary" type="button" (click)="onSelectCategoryModalOpen(selectCategoryModal)">Select parent category</button>
                    <span class="m-l-10 font-16" *ngIf="parent">
                        <span>{{ parent.title }}</span> &nbsp;<span class="text-danger pointer" (click)="onSelectedCategory(null)">&times;</span>
                    </span>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" [disabled]="inProgress"><i class="fa fa-paper-plane"></i> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #selectCategoryModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select category</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-categories-modal (selectedCategory)="onSelectedCategory($event); modal.dismiss('Selected')"></app-categories-modal>
    </div>
    <div class="modal-footer">
        <br>
    </div>
</ng-template>
