<div class="form-group">
    <label for="{{name}}" class="font-14">{{displayName}}</label>
    <br>
    <button class="btn btn-primary" type="button" (click)="input.click()">Upload</button>
    <span class="d-block" *ngIf="!image">{{ file?.name }}</span>
    <div *ngIf="image && link">
        <br>
        <img [src]="link" alt="" width="100%" class="img-thumbnail img-preview">
    </div>
    <input type="text" class="form-control d-none" [formControl]="form.get(name)" id="{{name}}">
    <input type="file" class="d-none" (change)="onFileChange($event)" #input>
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }} </span>
</div>
