/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//importing datatables
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

//fonts
@import "assets/fonts/circular-std/style.css";
@import "assets/fonts/fontawesome/css/fontawesome-all.css";

//template styles
@import "scss/template";

//variables
@import "scss/variables";


//toasts
.toast-error
{
    background: $red;
}
.toast-success
{
    background: $green;
}

.pointer
{
    cursor: pointer;
}
.invalid-feedback
{
    display: block;
}
