<div class="form-group">
    <label for="{{name}}" class="font-14">{{displayName}}</label>
    <div class="input-group">
        <input type="text" class="form-control font-14" [formControl]="form.get(name)"  id="{{name}}" [placeholder]="placeholder" [ngClass]="formUtils.handleValidationStateClass(form, name)" ngbDatepicker #datepicker="ngbDatepicker">
        <div class="input-group-append">
            <button class="btn btn-primary no-shadow" (click)="datepicker.toggle()" type="button">
                <i class="fa fa-calendar"></i>
            </button>
        </div>
    </div>
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }} </span>
</div>
